/*configurações do topo */

.bg-topo {
    background-color: #68627a;

}

.btn-orcamento {
    border: 2px solid #fff;
    background: none;
    position: relative;
    color: #fff;
    z-index: 1;
    border-radius: 30px;
    height: 100%;
}